{% extends '::base.html.twig' %}

{% block body %}
    <div class="wrap block-2">
        <div class="col-1">

            <h2 class="p8">
                <span class="color-1">Event:</span> {{ event.title }}
            </h2>

            <article class="event">
                <div class="author">

                </div>
                <div class="data">
                    <header>
                        {{ event.created|date('M d, Y') }} by <a href="#">{{ event.user.getName() }}</a>
                    </header>
                    <p class="description">{{ event.description }}</p>
                    <p class="count"><img src="{{ asset('images/hand.gif') }}"/>{{ event.countHighfives }} high fives</p>
                </div>
            </article>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if showForm %}
                    <h2 class="p0">
                        <span class="color-1">Send</span> high five
                    </h2>

                    <div id="create-highfive" class="p1">
                        <form id="form" action="{{ path('PortalAppBundle_event_view', { 'eventId': event.shortUrl }) }}" method="post" {{ form_enctype(form) }} class="blogger">
                            {{ form_widget(form) }}
                            <div class="btns">
                                <input class="button" type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                {% endif %}
            {% endif %}


            <h2 class="p8">
                <span class="color-1">High fives</span> received
            </h2>

            <div id="entries">
                {% for highfive in event.highfives|reverse %}
                    <article class="event">
                        <div class="author">
                            <strong>{{ highfive.user.getName() }}:</strong>
                        </div>
                        <div class="data">
                            <p class="description">
                                <p>{{ highfive.getComment() }}</p>
                                <p><i>Sent on {{ highfive.getCreated()|date('M d, Y') }}</i></p>
                            </p>
                        </div>
                    </article>
                {% else %}
                    <p class="p2"><strong>No high fives for this event...</strong></p>
                {% endfor %}
            </div>

        </div>

        <div class="col-2">
            <h2 class="p3"><span class="color-1">Latest</span> events</h2>

            <p class="p5">
                @TODO: implement latest event listing here
            </p>
        </div>
    </div>
{% endblock body %}

