<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}YouHighFiveMe{% endblock %}</title>
    <meta charset="utf-8">
    {% block stylesheets %}
        <!-- Styles -->
        <link href="{{ asset('css/reset.css') }}" media="screen" rel="stylesheet" type="text/css" >
        <link href="{{ asset('css/style.css') }}" media="screen" rel="stylesheet" type="text/css" >
        <link href="{{ asset('css/grid_12.css') }}" media="screen" rel="stylesheet" type="text/css" >
        <link href="{{ asset('css/slider.css') }}" media="screen" rel="stylesheet" type="text/css" >
        <link href="{{ asset('css/favicon.ico') }}" rel="shortcut icon" type="image/vnd.microsoft.icon" >    
        <!-- Scripts -->
        <script type="text/javascript" src="{{ asset('js/jquery-1.7.min.js') }}"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#form-event-search').submit(function(e) {
                    e.preventDefault();
                    if ($('#search-event-keyword').val() != "") {
                        $("#content-block").html('<h2 class="p10"><span class="color-1">Please</span> wait...</h2>');
                        $.post(
                            "{{ path('PortalAppBundle_event_search') }}",
                            $("#form-event-search").serialize(),
                            function(response){
                                $("#content-block").html(response);
                            },
                            "html"
                        );
                    }
                });
            });
        </script>

        <!-- Google Analytics -->
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-39255634-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    {% endblock %}

    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
        <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
    <![endif]-->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ asset('js/html5.js') }}"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/portalapp/css/ie.css') }}">
    <![endif]-->
</head>
<body>
<div class="main">
    <div style="position: relative; top: 30px; font-size: 20px; float:right; color: #95514b;font-weight: bold;">BETA</div>
	<div class="bg-img"></div>
<!--==============================header=================================-->
    <header>
        <a href="{{ path('PortalAppBundle_homepage') }}"><img class="logo" src="{{ asset('images/logo.png') }}"/></a>

        <nav>
            <div class="social-icons">
                <!--
            	<a href="#" class="icon-2"></a>
            	<a href="#" class="icon-1"></a>
                -->
            </div>
            <ul class="menu">
                <li><a href="{{ path('PortalAppBundle_homepage') }}">Home</a></li>
                <li><a href="{{ path('PortalAppBundle_about') }}">About</a></li>
                <li><a href="{{ path('PortalAppBundle_contact') }}">Contact</a></li>

                <li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('fos_user_profile_show') }}">Profile</a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
                </li>
                {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>
                    <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </header>   
<!--==============================content================================-->
    <section id="content">
        <div class="container_12">
          <div class="grid_12 top-1">
             <div class="box-shadow">
                 <div class="wrap block-2">
                     <div class="col-1">
                         <div id="content-block">
                            {% block content %}{% endblock %}
                         </div>
                     </div>
                     <div class="col-2">
                         {% block sidenav %}{% endblock %}
                     </div>
                 </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
    </section>
<!--==============================footer=================================-->
    <footer>
        <p>© {{ "now"|date("Y") }} YouHighFiveMe, all rights reserved.</p>
        
    </footer>	
</div>    

</body>

</html>