{% extends 'PortalAppBundle::layout.html.twig' %}

{% block title %}{{ entry.title }}{% endblock %}

{% block body %}
    <article class="entry">
        <header>
            <div class="date"><time datetime="{{ entry.created|date('c') }}">{{ entry.created|date('l, F j, Y') }}</time></div>
            <h2>{{ entry.title }}</h2>
        </header>
        <img src="{{ asset(['images/', entry.image]|join) }}" alt="{{ entry.title }} image not found" class="large" />
        <div>
            <p>{{ entry.entry }}</p>
        </div>
    </article>
    
    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Comments</h3>
            {% include 'PortalAppBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </section>
        
        <h3>Add Comment</h3>
        {% render 'PortalAppBundle:Comment:new' with { 'entry_id': entry.id } %}
    </section>
{% endblock %}