{% extends '::cv.html.twig' %}

{% block content %}

    <table width="800">
        {% for event in events %}
        <tr>
            <td>
                <img style="margin-top: 17px; margin-right: 10px; width: 30px; height: 30px; float: left" src="{{ asset('images/clip.png') }}"/>
                <h2 style="font-size: 30px; margin-bottom: 20px; margin-top: 20px;">{{ event.title }}</h2>
                <h3 style="font-size: 15px; margin-bottom: 20px; margin-top: 20px;">{{ event.description }}</h3>
            </td>
        </tr>
        <tr>
            <td>
                {% for highfive in event.highfives %}
                    <table>
                        <tr>
                            <td width="100" valign="top">
                                <img src="{{ gravatar(highfive.user.getGravatar(), 75) }}"/>
                            </td>
                            <td width="500" valign="top" style="padding-top: 5px;">
                                <p><strong>{{ highfive.user.getName() }} - {{ highfive.created|date('M d, Y') }}</strong></p>
                                <p>{{ highfive.comment }}</p>
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <p class="p1">No high fives received for this event.</p>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}